.form-page {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1em;
}

.form-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: max-content;
	border: 0.25em solid #3f51b5;
	border-radius: 1em;
	padding: 1em;
}

.form-subcontainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: max-content;
}

.form-item {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}
