.form-container {
	margin-left: 0.5em;
	margin-top: 0.5em;
	padding-bottom: 3em;
}

.form-item {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.form-item input {
	position: absolute;
	right: 0.5em;
	width: 10em;
	max-width: 25%;
}

.form button {
	position: absolute;
	right: 0.5em;
	margin-top: 0.5em;
}

.extended-label {
	position: relative;
	right: 0.5em;
	display: inline;
}
