:root {
	--buttons-display: flex;
	--buttons-select-display: none;
	--logo-word-display: flex;
}
.logo-div {
	display: var(--logo-display);
	padding-right: 10px;
}
.logo-word-div {
	display: var(--logo-word-display);
}
.button-div {
	display: var(--buttons-display);
}

.button-select-div {
	display: var(--buttons-select-display);
}

.toolbar {
	position: fixed;
	width: 100%;
	background: #3f51b5;
	height: 56px;
	top: 0;
	left: 0;
}
.toolbar__navigation {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 1rem;
}
.toolbar__logo {
	color: white;
	font-size: 1.5rem;
}
.toolbar__navigation-items a {
	color: white;
}
.toolbar__navigation-items ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}
.toolbar__navigation-items li {
	padding: 0 0.5rem;
}
.spacer {
	flex: 1;
}
@media (max-width: 1200px) {
	:root {
		--logo-word-display: none;
	}
}
@media (max-width: 600px) {
	:root {
		--buttons-display: none;
		--buttons-select-display: flex;
		--logo-display: none;
	}
}
