@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.card {
	display: grid;
	position: relative;
	background: #f5f4f4;
	width: 100%;
	max-width: 90vw;
	height: 100%;
	min-height: 10em;
	border-radius: 0.5em;
	margin: 1em;
	box-shadow: 0 0.4em 0.4em rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.3s ease-in-out;
}

.text-container {
	margin-left: 0.5em;
	margin-top: 0.5em;
	font-family: Roboto, sans-serif;
}

.headline {
	font-size: 2em;
}

.sub-headline {
	font-size: 1.5em;
	color: #3f3f3f;
}

.callout {
	color: #3f3f3f;
	font-size: 1.25em;
	font-weight: bold;
}

.thin-callout {
	color: #3f3f3f;
	font-size: 1.25em;
}

.card:hover {
	box-shadow: 0 0.6em 1.6em rgba(0, 0, 0, 0.5);
}

.card .btn-container {
	display: flex;
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0.1em solid #3f51b5;
	background-color: white;
	transition: background-color 0.3s ease-in-out;
	height: 2.5em;
	width: 2.5em;
	border-radius: 2.5em;
	margin: 0.1em;
}

.icon {
	color: #3f51b5;
	transition: color 0.3s ease-in-out;
}

.extended {
	min-height: 10em;
	max-height: 15em;
	overflow-y: auto;
}

.extended::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #f5f5f5;
	border-radius: 12px;
}

.extended::-webkit-scrollbar {
	width: 0.5em;
	background-color: #f5f5f5;
	border-radius: 12px;
}

.extended::-webkit-scrollbar-thumb {
	background-color: #3f3f3f;
	border: 2px solid #555555;
	border-radius: 12px;
}

.btn:hover {
	background-color: #3f51b5;
	cursor: pointer;
}

.btn:hover .icon {
	color: white;
}

.detail-container {
	margin-left: 0.5em;
	margin-top: 0.5em;
}
.detail-item {
	margin-top: 0.25em;
}

.menu-container {
	padding-bottom: 3em;
	margin-bottom: 1em;
}

.card-form-items-container {
	margin-top: 0.5em;
	display: flex;
	flex-direction: column;
}

.card-form-item {
	margin-bottom: 0.25em;
	margin-top: 0.25em;
	display: flex;
	width: 100%;
}

.card-form-item label {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: 1em;
	width: 100%;
	height: 100%;
}

.card-form-item input {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: 1em;
	width: 100%;
	height: 100%;
}

.card-form-spacer {
	min-width: 1em;
	max-width: 5em;
}

.card-form-btn-container {
	display: grid;
	grid-template-columns: 1fr / 1fr / 1fr;
	padding-top: 0.25em;
}

.card-form-btn-container button {
	grid-column: 3 / 3;
}
