:root {
	--grid-columns: 4;
}

.grid-item-container {
	display: flex;
	justify-content: center;
}
.card-grid {
	display: grid;
	grid-template-columns: repeat(var(--grid-columns), 1fr);
	justify-content: center;
	align-items: center;
}

@media (max-width: 1775px) {
	:root {
		--grid-columns: 3;
	}
}

@media (max-width: 1325px) {
	:root {
		--grid-columns: 2;
	}
}

@media (max-width: 875px) {
	:root {
		--grid-columns: 1;
	}
}
